In [20]:
import pandas as pd
import pandas_datareader as pdr
import numpy as np

from datetime import datetime
from scipy.stats import norm

In [21]:
ticker=['%5EGSPC']

In [32]:
data = pdr.yahoo.daily.YahooDailyReader(symbols=ticker, start=datetime(2000, 1, 1), end=datetime(2022, 8, 12))
df = data.read()
df=df.iloc[:, df.columns.get_level_values(0)=='Adj Close']
returns=df[['Adj Close']].pct_change(1)
returns=returns.rename(columns={'Adj Close': 'Returns'},level=0)
df=pd.concat([df, returns], axis=1)
df.index.name=None
df.columns=['Index','Returns']
df['Date']=df.index
df=df[['Date','Index','Returns']]
df['Date']=df['Date'].apply(lambda x: x.strftime("%Y-%m-%d"))
df.head()

                  Date        Index   Returns
2000-01-03  2000-01-03  1455.219971       NaN
2000-01-04  2000-01-04  1399.420044 -0.038345
2000-01-05  2000-01-05  1402.109985  0.001922
2000-01-06  2000-01-06  1403.449951  0.000956
2000-01-07  2000-01-07  1441.469971  0.027090